<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Sign In</title>
  <link rel="stylesheet" href="normalize.css" />
  <link rel="stylesheet" href="form.css" />


</head>
<body>
<header>
  <%= image_tag"UCCLogo.jpg"%>
  <div id="logo">
    <%= image_tag"calendarLogo.jpg"%>
  </div>
</header>
<div id="main">
  <%= image_tag "logo6.jpg"%>
  <div id="form">

<nav>
  <label for="show-menu" class="show-menu">Show Menu</label>
  <input type="checkbox" id="show-menu" role="button">

  <ul id="menu">
    <li><a href="Welcome.html">UCC Home</a></li>
    <li><a href="AboutAppointments.html">About Appointments</a></li>
    <li><a href="ContactUs.html">Contact Us</a></li>
    <li><a href="FAQ.html">FAQ</a></li>
  </ul>
</nav>

<%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :username %>
      <%= text_field_tag :username, params[:username], :placeholder => "Username" %>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password, nil, :placeholder => "Password" %>
    </div>
    <!-- We will get to this in a while -->
    <div class="field">
      <%= label_tag :remember_me ,:class => "checkbox vsmall" do %>
          <%= check_box_tag :remember_me, 1, params[:remember_me] %>
          Remember me
      <% end %>
    </div>
    <!-- end block -->
    <br>
    <div class="actions">
      <%= submit_tag :sign_in, :value => "Sign in" %>
    </div>
    <br>
    <div class="messages">
      <% flash.each do |name,msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
    </div>
    <p>
      <%= link_to 'Forgot Password?', new_password_reset_path %>
    </p>
<% end %>

  </div>
</div>
<footer>
  <p>
    <small>
      <strong> University College Cork </strong>
      <%= image_tag "location.png"%>Western Road, Cork
      <%= image_tag"phone.png"%><a href="+353 (0)21 490 3000">+353 (0)21 490 3000</a>
    </small>
  </p>
  <p>
    <small>
      &copy; Group One. All rights reserved.
      <script type="text/javascript">
          var currentDate = new Date()
          var day = currentDate.getDate()
          var month = currentDate.getMonth() + 1
          var year = currentDate.getFullYear()
          document.write("<b>" + day + "/" + month + "/" + year + "</b>")
      </script>

    </small>
  </p>
</footer>

</body>
</html>