<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Reset Password</title>
  <link rel="stylesheet" href="normalize.css" />
  <link rel="stylesheet" href="form.css" />


</head>
<body>
<header>
  <%image_tag"UCCLogo.jpg", alt="Logo of University college Cork"%>
  <div id="logo">
    <%image_tag"calendarLogo.jpg", alt="Logo of University college Cork"%>
  </div>
</header>

<nav>
  <label for="show-menu" class="show-menu">Show Menu</label>
  <input type="checkbox" id="show-menu" role="button">

  <ul id="menu">
    <li><a href="home.html">Home</a></li>
    <li><a href="users\show.html">My Profile</a></li>
    <li><a href="timetable.html">Calendar</a></li>
    <li><a href="#">Appointments</a></li>
  </ul>
</nav>
<h4>Enter new password</h4>
<%= form_for @user, url: password_reset_path(params[:id]) do |f| %>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions">
      <%= f.submit "Update Password" %>
    </div>
    <div class="messages">
      <% if @user.errors.any? %>
          <% for message in @user.errors.full_messages %>
              <%= message %>
          <% end %>
      <% end %>
    </div>
<% end %>
<footer>
  <p>
    <small>
      <strong> University College Cork </strong>
      <%image_tag "location.png"%>Western Road, Cork
      <%image_tag "phone.png" %><a href="+353 (0)21 490 3000">+353 (0)21 490 3000</a>
    </small>
  </p>
  <p>
    <small>
      &copy; Group One. All rights reserved.
      <script type="text/javascript">
          var currentDate = new Date()
          var day = currentDate.getDate()
          var month = currentDate.getMonth() + 1
          var year = currentDate.getFullYear()
          document.write("<b>" + day + "/" + month + "/" + year + "</b>")
      </script>

    </small>
  </p>
</footer>

</body>

</html>
