
<% @meetings.each do |meeting| %>
    <ul>
      <li><%=meeting.meeting_name%></li>
      <li><%=meeting.group_involved%></li>
      <li><%=meeting.agenda%></li>
      <li><%=meeting.memberID1%></li>
      <li><%=meeting.memberID2%></li>
      <li><%=meeting.memberID3%></li>
      <li><%=meeting.memberID4%></li>
      <li><%=meeting.memberID5%></li>
      <li><%=meeting.memberID6%></li>
      <li><%=meeting.day%></li>
      <li><%=meeting.time%></li>
    </ul>
<% end %>