<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Meeting details</title>
  <link rel="stylesheet" href="normalize.css" />
  <link rel="stylesheet" href="form.css" />


</head>
<body>
<header>
  <%image_tag"UCCLogo.jpg", alt="Logo of University college Cork"%>
  <div id="logo">
    <%image_tag"calendarLogo.jpg", alt="Logo of University college Cork"%>
  </div>
</header>

<nav>
  <label for="show-menu" class="show-menu">Show Menu</label>
  <input type="checkbox" id="show-menu" role="button">

  <ul id="menu">
    <li><a href="home.html">Home</a></li>
    <li><a href="users\show.html">My Profile</a></li>
    <li><a href="timetable.html">Calendar</a></li>
    <li><a href="meetings\index.html">Appointments</a></li>
  </ul>
</nav>

<h5><%= link_to 'Edit Meeting', edit_meeting_path %></h5>

<p>
  <strong>Meeting Name:</strong>
  <%= @meeting.meeting_name %>
</p>

<p>
  <strong>Group Involved:</strong>
  <%= @meeting.group_involved %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @meeting.meeting_created_by %>
</p>
<p>
  <strong>Meeting Agenda:</strong>
  <%= @meeting.agenda %>
</p>
<p>
  <strong>Members:</strong>
  <ul>
    <li><%= @meeting.memberID1 %></li>
    <li><%= @meeting.memberID2 %></li>
    <li><%= @meeting.memberID3 %></li>
    <li><%= @meeting.memberID4 %></li>
    <li><%= @meeting.memberID5 %></li>
    <li><%= @meeting.memberID6 %></li>
  </ul>

</p>
<p>
  <strong>Meeting Time:</strong>
  <li><%= @meeting.date %></li>
<li><%= @meeting.start_time %></li>
<li><%= @meeting.end_time %></li>

</p>
<footer>
  <p>
    <small>
      <strong> University College Cork </strong>
      <%image_tag "location.png"%>Western Road, Cork
      <%image_tag "phone.png" %><a href="+353 (0)21 490 3000">+353 (0)21 490 3000</a>
    </small>
  </p>
  <p>
    <small>
      &copy; Group One. All rights reserved.
      <script type="text/javascript">
          var currentDate = new Date()
          var day = currentDate.getDate()
          var month = currentDate.getMonth() + 1
          var year = currentDate.getFullYear()
          document.write("<b>" + day + "/" + month + "/" + year + "</b>")
      </script>

    </small>
  </p>
</footer>

</body>

</html>
