
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Registration</title>
  <link rel="stylesheet" href="normalize.css" />
  <link rel="stylesheet" href="form.css" />


</head>
<body>
<header>
  <%= image_tag"UCCLogo.jpg", alt="Logo of University college Cork"%>
  <div id="logo">
    <%= image_tag"calendarLogo.jpg", alt="Logo of University college Cork"%>
  </div>
</header>

<nav>
  <label for="show-menu" class="show-menu">Show Menu</label>
  <input type="checkbox" id="show-menu" role="button">

  <ul id="menu">
    <li><a href="home.html">Home</a></li>
    <li><a href="users\show.html">My Profile</a></li>
    <li><a href="timetable.html">Calendar</a></li>
    <li><a href="meetings\index.html">Meetings</a></li>
  </ul>
</nav>
<%= form_for @user, url: users_path do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label 'Title' %>
      <%= f.text_field :title, placeholder: "Title" %>
    </div>
    <div class="field">
      <%= f.label 'First name' %>
      <%= f.text_field :fname, placeholder: "First Name" %>
    </div>
    <div class="field">
      <%= f.label 'Last name' %>
      <%= f.text_field :lname, placeholder: "Last Name" %>
    </div>
    <div class="field">
      <%= f.label 'Student Number' %>
      <%= f.text_field :username, placeholder: "Student Number" %>
    </div>
    <div class="field">
      <%= f.label :course_enrolled %>
      <%= f.text_field :course_enrolled %>
      Must be a valid course code eg; CK401
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "Password" %>
    </div>
    <div class="field">
      <%= f.label :repeat_password %>
      <%= f.password_field :password_confirmation, placeholder: "Repeat Password" %>
    </div>
    <div class="actions">
      <%= f.submit :create_account, value: "Create Account" %>
    </div>
<% end %>
<footer>
  <p>
    <small>
      <strong> University College Cork </strong>
      <%= image_tag "location.png"%>Western Road, Cork
      <%= image_tag "phone.png" %><a href="+353 (0)21 490 3000">+353 (0)21 490 3000</a>
    </small>
  </p>
  <p>
    <small>
      &copy; Group One. All rights reserved.
      <script type="text/javascript">
          var currentDate = new Date()
          var day = currentDate.getDate()
          var month = currentDate.getMonth() + 1
          var year = currentDate.getFullYear()
          document.write("<b>" + day + "/" + month + "/" + year + "</b>")
      </script>

    </small>
  </p>
</footer>

</body>

</html>