<h5><%= link_to 'Edit Profile', edit_user_path %></h5>

<p>
  <strong>Name:</strong>
  <%= @user.fname %> <%= @user.lname %>
</p>

<p>
  <strong>Username</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Course Enrolled:</strong>
  <%= @user.course_enrolled %>
</p>