<h1>Events#edit</h1>
<h1>Events#new</h1>
<%= form_for @event, url: users_path do |f| %>
    <% if @event.errors.any? %>

        <div id="error_explanation">
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label 'Description' %>
      <%= f.text_field :description, placeholder: "Event Description" %>
    </div>
    <div class="field">
      <%= f.label 'Date' %>
      <%= date_field(:event, :date_held) %>
    </div>
    <div class="field">
      <%= f.label 'Start Time' %>
      <%= time_field(:event, :event_start_time) %>
    </div>
    <div class="field">
      <%= f.label 'End Time' %>
      <%= time_field(:event, :event_end_time) %>
    </div>
    <div class="actions">
      <%= f.submit :create_account, value: "Create Event" %>
    </div>
<% end %>

