<p>
  <strong>Title</strong>
  <%= @event.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date</strong>
  <%= @event.date %>
</p>
<p>
  <strong>Start Time</strong>
  <%= @event.start_time %>
</p>
<p>
  <strong>End Time</strong>
  <%= @event.end_time %>
</p>
<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %></td>

